<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Generate AI Response {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <h1>
        <a>Ask a question!</a>
    </h1>
    <main>
        <!-- main content block with prompt box and buttons -->
        {% block content %}
        {% endblock content %}
    </main>
    <h2>
        <!-- If response is given, apply heading title-->
        {% if response != "" %}
            <a>Response</a>
        {% endif %}
    </h2>
    <!-- response block -->
    {% block response %}
    {% endblock response %}
</body>

</html>
